<!DOCTYPE html>
<html class="theme-black">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache,no-store" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>票据交易管理平台v5.0</title>
  <script src="/sysconfig.js"></script>
  <!--<script src="./static/locale/lang/en-US.js"></script>-->
  <script src="/static/locale/lang/zh-CN.js" type="module"></script>
  <script src="/static/locale/lang/bopp/zh-CN.js" type="module"></script>

  <script>
    function getIEVersion() {
      //取得浏览器的userAgent字符串
      var userAgent = navigator.userAgent;
      //判断是否IE浏览器
      var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1
      var isIE11 = userAgent.indexOf("Trident") > -1 && userAgent.indexOf("rv:11.0") > -1
      if (isIE) {
        var reIE = new RegExp("MSIE (\\d+\\.\\d+);")
        reIE.test(userAgent)
        var fIEVersion = parseFloat(RegExp["$1"])
        if (fIEVersion == 7) {
          return 7
        } else if (fIEVersion == 8) {
          return 8
        } else if (fIEVersion == 9) {
          return 9
        } else if (fIEVersion == 10) {
          return 10
        } else {
          return 6
        }
      } else if (isIE11) {
        return 11
      }
    }
    var IEVersion = getIEVersion()
    //判断是否IE浏览器
    var isIE = navigator.userAgent.indexOf("MSIE") >= 0 || navigator.userAgent.indexOf("Trident") >= 0
    if (isIE && IEVersion < 10) {
      alert("当前IE版本过低，请升级IE至10及以上后再试！")
    }
  </script>

  <% for (let i of htmlWebpackPlugin.options.dll) { %>
    <script src="<%= i %>"></script>
  <% } %>

</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>

