$theme: #79AC43;
$themeHover: #79AC43;

$neutral: #90C41E;
$neutralHover: #7AB200;

$warning: #F9A400;
$error: #F35957;

$bg: #FAFAFA;
$modalBg: #F9F9F9;

$divider: #E7E7E7;
$border: #D8D8D8;

$text: #202224;
$textGray: #4D4E50;
$disbaledText: #494C4F;
$textDivider: #666666;
$textBorder: #999999;

$inputBorder: #DADCE8;
$inputBorderDisabled: #DFDFDF;
$inputShadow: 0 2px 4px 0 #EFF2F7;
$inputFocusShadow: 0 2px 4px 0 #E7F3D9;

$buttonHover: #84C22E;
$buttonActive: #70A328;
$buttonDisabled: #E2E2E2;
$buttonDisabledColor: $disbaledText;
$buttonPlain: $theme;
$buttonPlainColor: #70A328;
$buttonPlainBg: #EFF5E9;
$buttonPlainHoverBg: #E8F6DB;
$buttonPlainActiveBg: #EFF5E9;
$buttonPlainDisabled: #D5D2D2;
$buttonPlainDisabledColor: $disbaledText;
$buttonPlainDisabledBg: #F0F0F0;

$fontSmall: 12px;
$fontNormal: 14px;
$fontBig: 16px;
$fontHuge: 18px;
$fontTitleSmall: 22px;
$fontTitleBig: 24px;
$fontTitleHuge: 32px;
